<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/resume.css">
    <script type="module" src="../JS/resume.js" defer></script>
    <script type="module" src="../js/render.js" defer></script>
    <script src="https://kit.fontawesome.com/3365980cd5.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="searchContainer">
        <div class="search">
            
            <input type="text" placeholder="please enter your first" name="firstname" id="firstname"> 
            <input type="text" placeholder="please enter your lastname" name="lastname" id="lastname">
            <button type="button" class="btnSearchResume">Search</button>
            <button type="button" class="btnDownload" id="btnDownload">Download your resume</button>
        </div>

    </div>

    
    <div class="container">     

    </div>
   
</body>
</html>