
.main{
    width: 70vw;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 2rem;
    height: auto;
}

.container,
.flex-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: auto;
    /* background-color: yellow; */
}

.flex-container{
    justify-content: center;
    align-items: center;
}

.container:nth-child(6),
.container:nth-child(7){
    margin-bottom: 2rem;
}

/* .flex-space{
    justify-content: space-around;
} */

button{
   max-width: 30%;
   width: 8rem;
    height: 2rem;
}

.formContainer{
    flex: 1;
    margin: .4rem;
}

form{
    height: 100%;
    
}


fieldset{
    height: 90%;
    padding: 1rem;
}

input[type = 'text'], 
input[type = 'email'], 
input[type = 'tel'], 
input[type = 'integer'], 
input[type = 'url'],
textarea,
.select
{
    width: 96%;
    height: 1.2rem;
    padding: .3rem .6rem;
    margin: .4rem 0;
    border: none;
    border-bottom: .1rem solid black;
    opacity: .8;
}

.select{
    width: 100%;
    height: 1.9rem;
}

textarea{
    height: 10rem;
}



input[type = 'submit']{
    width: 50%;
    margin: .5rem auto;
    height: 2.2rem;
    border-radius: 2rem;
    border: none;
    background-color: lightblue;
    font-size: 1rem;
    color: black;
}

#btn-objective{
    width: 15rem;
    max-width: 15rem;
    min-width: 8rem;
}

.flex-container input[type = "text"]{
    width: 80%;
}

#educationForm fieldset,
#techSkillsForm fieldset,
#marketSkillsForm fieldset,
#workForm fieldset,
#projectsForm fieldset
{
    /* height: 100%;
    background-color: brown; */
    height: 95%;
    padding: 1rem;
}

.msgError{
    color: red;
    text-align: center;
    font-size: 1.2rem;
}

.msgError{
    display: none;
}

.errorContainer, .error{
    display: block;
    background-color: black;
    color: white;
   
}