body{
    background-color: #181a1e;
}
.container{
    width: 100%;
    background-color: #181a1e;
    color: white;
    display: block;
    
}

.banner{
    background-color: black;
    height: 15vh;    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 4rem;    
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    position: relative;
    
    
}

.banner.h1 {
    margin-top: auto;    
    position: sticky;
    top: 0;
    width: 100%;
}

.wrapper-flex{
    height: auto;
    background-color: black;
    display: flex;  
    justify-content: space-between;
    
}
.left-container{
    display: block;
    width: 20%;
    background-color: red;
    height: auto;
    position: fixed;
    
}
.control-container{
    /* width: inherit; */
    text-align: right;
    /* padding: 10 rem;   */
    /* position: sticky; */
    
}
.control-container p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    flex: 1;
}

.left-container, 
.right-container{
    padding: 1rem;
    
}

.right-container{
    position: absolute;
    left: 22%;
    width: 76%;
    background-color: blue;
}