body{
    background-color: #181a1e;
    
}
.container{
    width: 100%;
    background-color: #181a1e;
    color: white;
    display: block;
   
    
}

.banner{
    background-color: black;
    height: 13.8vh;    
    display: block;    
    font-size: 3rem;    
    position:fixed;
    text-align: center;
    padding: .5rem;
    top:0;
    width:100%;
    z-index:100;    
}

.flex-component{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: .5rem;
}

.banner.h1 {
    margin-top: auto;    
   
}

#searchInput{
    width: 12rem;
    height: 1.9rem;
    border-radius: 2rem;
    margin-right: 1rem;
    padding: 0 .5rem;
}

.searchPara{
    cursor: pointer;
}

.searchPara:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
    font-weight: bolder;
}

.wrapper-flex{    
    height: auto;
    background-color: black;
    display: flex;  
    justify-content: space-between;
    padding: 0 5rem;
    
}
.left-container,
.right-container{
    display: block;
    width: 20%;
    background-color: red;
    height: auto;
    position: fixed;   
    margin-top: 0.1rem;
    /* padding-top: 10rem!important; */
}

.middle-container{
    position: absolute;
    left: 29%;
    width: 40%;
    /* background-color: rgb(0, 255, 17); */
}

.right-container{
    left: 72%;
    width: 20%;   
    
}
.image-container{
    width: 89%;
}

.image-container img{
    width: 100%;
    /* height: 100%; */
    border-radius: 50%;
    background-color: black;
}



.control-container{
    text-align: right;   
    padding: 1rem; 
}
.control-container p{
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    flex: 1;
}
.control-container p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: navy;
}

.error{
    width: 38.4%;
    background-color: white;
    height: auto;
    position: fixed;
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
    padding: .5rem;
    z-index: 1;
    
}

input[type="integer"],
input[type="url"],
input[type="text"],
input[type="email"],
input[type="tel"],
select{
    /* width: 60%; */
    height: 2.2rem;
    /* padding: 0 .5rem;     */
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: inherit;
    border-bottom: .1rem solid white;
    color: white;
    /* margin: 1rem 0; */
    /* margin-bottom: 2rem; */
}

input[type="integer"],
textarea,
input[type="checkbox"],
input[type="url"],
input[type="text"],
input[type="email"],
input[type="tel"],
select,
.radioGroup{
    margin-bottom: 2rem;    
}
.radioGroup{
    margin-top: .6rem;    
}

label[for=IT],
label[for=Other]
{    
    margin-left: .4rem;
}

input[type="checkbox"]{
    margin-left: 1rem;
}

.cityState #companyCity,
.radioGroup label{
    /* background-color: blue; */
    margin-right: 1rem;
}

input[type="submit"]{
    text-align: center;
    height: 2.2rem;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-size: 1.1rem;
    width: max-content;
    border-radius: 2rem;
    width: 15vw;
    margin: 1rem .4rem;
}

input[type="url"],
textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
select{
    width: 90%;
    padding: 0 .5rem;  
}

textarea{    
    min-height: 6rem;
    height: 10rem;
    background-color: inherit;
    color: white;
}
select {
    background-color: inherit;
    width: 62%;
}



.option{
    background-color:  #181a1e;    
}

select > option{
    background-color: inherit;
    width: 100%;
}
.left-container, 
.middle-container,
.right-container{
    padding: 0 1rem;
    top: 16vh;
    font-size: 1.2rem;
    
}



form, fieldset{
    padding: 1rem;  
    
}
/* fieldset > legend{
    text-align: center;
    text-transform: uppercase;
} */
.flex-component,
.cityState,
.monthYear{
    display: flex;    
}


.cityState #companyCity{
    width: 12rem;
}
.cityState #companyState{
    width: 8rem;
}
.monthYear select{
    width: 8rem;
}

.monthYear select:first-child{
    margin-right: 1rem;
}